body
{
    margin: 0;
    padding: 0;

    background-color: #000;
}

.glowing
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 260px;
    height: 260px;

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.glowing .spans
{
    position: absolute;

    box-sizing: border-box;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;

        -ms-border-radius: 50%;
         -o-border-radius: 50%;
}

.glowing .spans:before
{
    position: absolute;
    top: 50%;
    left: -5px;

    width: 10px;
    height: 10px;

    content: '';

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: #ff0;

        -ms-border-radius: 50%;
         -o-border-radius: 50%;
}

.glowing .spans:nth-child(1):before
{
    background: rgba(135, 255, 0, 1);
    box-shadow: 0 0 20px rgba(134, 255, 0, 1),
    0 0 40px rgba(134, 255, 0, 1),
    0 0 60px rgba(134, 255, 0, 1),
    0 0 80px rgba(134, 255, 0, 1),
    0 0 0 4px rgba(134, 255, 0, .1);
}

.glowing .spans:nth-child(1)
{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-animation: animate 2s linear infinite;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
            animation: animate 2s linear infinite;
}

.glowing .spans:nth-child(2):before
{
    background: rgba(255, 214, 0, 1);
    box-shadow: 0 0 20px rgba(255, 214, 0, 1),
    0 0 40px rgba(255, 214, 0, 1),
    0 0 60px rgba(255, 214, 0, 1),
    0 0 80px rgba(255, 214, 0, 1),
    0 0 0 4px rgba(255, 214, 0, .1);
}

.glowing .spans:nth-child(2)
{
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;

    -webkit-animation: animate-reverse 2.5s linear infinite;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
            animation: animate-reverse 2.5s linear infinite;
}
.glowing .spans:nth-child(3):before
{
    background: rgba(0, 226, 255, 1);
    box-shadow: 0 0 20px rgba(0, 226, 255, 1),
    0 0 40px rgba(0, 226, 255, 1),
    0 0 60px rgba(0, 226, 255, 1),
    0 0 80px rgba(0, 226, 255, 1),
    0 0 0 4px rgba(0, 226, 255, .1);
}
.glowing .spans:nth-child(3)
{
    top: 80px;
    right: 80px;
    bottom: 80px;
    left: 80px;

    -webkit-animation: animate 2.5s linear infinite;
                                    /*border: 1px solid rgba(255, 255, 255, 0.3);
  */animation: animate 2.5s linear infinite;
}

@keyframes animate
{
    0%
    {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes animate-reverse
{
    0%
    {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(-360deg);
           -moz-transform: rotate(-360deg);
            -ms-transform: rotate(-360deg);
             -o-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}
